# Created by .ignore support plugin (hsz.mobi)
.idea
out
*.iml
gen### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
data
.*log
/virtualenv

