<configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </Console>
        <File name="MyFile" fileName="out/output.log">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="MyFile" level="DEBUG"/>
        </Root>
    </Loggers>
</configuration>